@media(max-width:750px){
    .pokedex{
        flex-direction: column;
        padding: 30px 0;
    }

    .cartao-pokemon{
        width: 300px;
    }

    .cartao-pokemon .cartao-imagem{
        width: 200px;
        height: 200px;
    }

    .cartao-pokemon .cartao-informacoes{
        padding: 60px 30px 30px;
        margin-top: -50px;
    }

    .cartao-pokemon .cartao-informacoes h3{
        font-size: 16px;
    }

    .cartao-pokemon .cartao-informacoes .habilidades ul li,
    .cartao-pokemon .cartao-informacoes .status ul li{
    font-size: 14px;
}

    .listagem{
        max-width: 300px;
    }

    .listagem ul{
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .listagem .pokemon{
        width: 140px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-bottom: 0;
        border-radius: 8px;
        font-size: 12px;
    }

    .listagem .pokemon span{
        padding-right: 5px;
    }

}